.actor-container {
    max-width: 625px;
}

.actor_name {
    font-size: 25px;
    margin-bottom: 35px;
}

.actor-main {
    display: flex;
}

.actor-main__photo {
    width: auto;
    max-width: 45%;
    border: 4px solid white;
    border-radius: 7px;
}

.actor-main__info {
    display: flex;
}

.actor-main__info table {
    border-collapse: collapse;
}

.actor-main__info td {
    padding-left: 25px;
    padding-bottom: 7px;
    vertical-align: top;
}

.page {
    padding: 25px;
}

.section {
    margin-top: 25px;
}

.section__title {
    font-size: 24px;
    padding-bottom: 15px;
}

.films-table__actor {
    display: flex;
    justify-content: flex-start;
}

/* Mobile version */

@media (max-width: 925px) {
    .page {
        padding: 20px;
    }

    .film-main__info td {
        padding-left: 15px;
        padding-bottom: 7px;
        vertical-align: top;
    }
}

@media (max-width: 650px) {
    .films-table__actor {
        justify-content: center;
    }
}

@media (max-width: 430px) {
    .actor-main__info tr {
        display: flex;
        flex-direction: column;
    }

    .actor-main__photo {
        max-height: 200px;
    }
}

.films-container {
    display: inline-flex;
    flex-wrap: wrap;
    width: calc(((156px * 4) + (6px * 4 * 2)));
}

/* Mobile version */

@media (max-width: 925px) {
    .films-container {
        width: calc(((100px * 4) + (6px * 4 * 2)));
    }
}

@media (max-width: 458px) {
    .films-container {
        width: calc(((100px * 4) + (6px * 4 * 2)));
    }
}

@media (max-width: 342px) {
    .films-container {
        width: calc(((100px * 3) + (6px * 3 * 2)));
    }
}

@media (max-width: 234px) {
    .films-container {
        width: calc(((100px * 2) + (6px * 2 * 2)));
    }
}