/*Film layout*/
.film {
    width: 156px;
    margin: 6px;
    border: none;
    outline: none;
    color: inherit;
}

.film img {
    width: inherit;
}

.film__info {
    width: inherit;
    overflow-wrap: break-word;
}

/*Table of films*/
.films-table {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    justify-content: center;
}

/*Actor layout*/
.actor {
    width: 146px;
    margin: 6px;
    border: none;
    outline: none;
    color: inherit;
}

.actor img {
    width: inherit;
}

.actor__info {
    width: inherit;
    overflow-wrap: break-word;
}

/* Mobile version */

@media (max-width: 925px) {
    .film {
        width: 100px;
    }

    .actor{
        width: 90px;
    }
}



