/*Film layout*/
.film {
    width: 156px;
    margin: 6px;
}

.film img {
    width: inherit;
}

.film__info {
    width: inherit;
    overflow-wrap: break-word;
}

/*Table of films*/
.films-table {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}

