* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    list-style: none;
    text-decoration: none;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

body {
    background-color: #efefef;
}

.text__header {
    font-size: 25px;
    font-weight: bold;
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Content of films*/
.films-table {
    display: flex;
    justify-content: center;
}

.films-container {
    display: inline-flex;
    flex-wrap: wrap;
    width: calc(((156px * 4) + (6px * 4 * 2)));
}

/*Film layout*/
.film {
    margin: 6px;
}

.film img {
    width: inherit;
}

.film a {
    color: inherit;
    width: 156px;
}

.film-title {
    width: inherit;
    overflow-wrap: break-word;
}

.film div {
    width: inherit;
    overflow-wrap: break-word;
}

.film p {
    width: inherit;
}

/*Actor layout*/
.actor {
    width: 146px;
    margin: 6px;
    border: none;
    outline: none;
    color: inherit;
}

.actor img {
    width: inherit;
}

.actor__info {
    width: inherit;
    overflow-wrap: break-word;
}

/* Mobile version */

@media (max-width: 925px) {
    .film a {
        width: 100px;
    }

    .films-container {
        width: calc(((100px * 4) + (6px * 4 * 2)));
    }

    .actor {
        width: 90px;
    }
}

@media (max-width: 458px) {
    .text__header {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .films-container {
        width: calc(((100px * 3) + (6px * 3 * 2)));
    }
}

@media (max-width: 342px) {
    .films-container {
        width: calc(((100px * 2) + (6px * 2 * 2)));
    }
}

@media (max-width: 234px) {
    .films-container {
        width: calc(((100px * 1) + (6px * 1 * 2)));
    }
}



