article {
    min-height: calc(100vh - 80px - 100px);
}

/*footer*/
footer {
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.b-footer {
    color: white;
    font-size: 11px;
}

.b-footer a{
    text-decoration: underline;
    color: white;
    font-size: 12px;
}

.b-footer__center {
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Mobile version */

@media (max-width: 925px) {
    .b-footer {
        padding-left: 20px;
    }
}