article {
    min-height: calc(100vh - 50px - 100px);
}

/*footer*/
footer {
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.b-footer {
    color: white;
    font-size: 12px;
}

/* Mobile version */

@media (max-width: 925px) {
    .b-footer {
        padding-left: 20px;
    }
}