/*footer*/
footer {
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.b-footer h3 {
    float: left;
    color: white;
    font-size: 12px;
}

/* Mobile version */

@media (max-width: 925px) {
    .b-footer h3{
        padding-left: 20px;
    }
}