body {
  font-family: sans-serif;
  background: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
  color: #3e77aa;
  cursor: pointer;
}

.header-topline {
  background: #192122;
  padding-top: 1px;
}

.header-topline-menu {
  height: 2rem;
  vertical-align: baseline;
}

.header-topline-menu>li>a {
  color: #EBEEEE;
  font-size: 14px;
  padding: .7rem 1rem;
}

.header-topline-menu.align-right>li {
  float: right;
}




.top-bar-title {
  opacity: 1;
  padding: .25rem 0;
  transition: 400ms opacity ease-in-out;
}


.top-bar {
  background-color: #263133;
  padding: 0 1rem;
}


.header__logo {
  display: inline-block;
  width: 40px;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 24px;
}

.header__logo {
  display: none;
}



.top-bar-title {
  opacity: 1;
  padding: .5rem 0;
  transition: 400ms opacity ease-in-out;
}

.columns {
  padding-left: .9375rem;
  padding-right: .9375rem;
}

.small-10 {
  width: 83.33333%;
}

#menu-primary-navigation {
  background: transparent;
  height: 4.125rem;
  line-height: 4.125rem;
}

.menu {
  margin: 0;
  list-style-type: none;
}

ul {
  list-style-type: disc;
  margin-left: 1.25rem;
}

#menu-primary-navigation .has-dropdown.mega-menu-parent {
  position: static;
}

#menu-primary-navigation li.menu-item {
  border-bottom: 4px solid transparent;
  transition: opacity .5s ease-in-out;
}
#menu-primary-navigation .has-dropdown {
  position: relative;
}
#menu-primary-navigation>li, #menu-utility-navigation>li {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}
#menu-primary-navigation>li, #menu-primary-navigation>li>a, #menu-utility-navigation>li, #menu-utility-navigation>li>a {
  color: #EBEEEE;
  font-size: 14px;
  font-weight: 400;
  height: inherit;
  line-height: inherit;
  padding-bottom: 0;
  padding-top: 0;
}
.menu>li {
  display: table-cell;
}
.menu>li {
  display: table-cell;
  vertical-align: middle;
}
ul li, ol li {
  font-weight: 400;
  line-height: 1.4;
}
li {
  font-size: inherit;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}


#menu-primary-navigation li.button {
  height: auto;
  line-height: 1;
  padding: 0.85em 1em;
  margin: .85rem 0;
  border-bottom: none;
}
#menu-primary-navigation li.menu-item {
  border-bottom: 4px solid transparent;
  transition: opacity .5s ease-in-out;
}

#menu-primary-navigation .right, #menu-primary-navigation .search_button {
  float: right;
}
#menu-primary-navigation>li, #menu-utility-navigation>li {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}
#menu-primary-navigation>li, #menu-primary-navigation>li>a, #menu-utility-navigation>li, #menu-utility-navigation>li>a {
  color: #EBEEEE;
  font-size: 14px;
  font-weight: 400;
  height: inherit;
  line-height: inherit;
  padding-bottom: 0;
  padding-top: 0;
}
.button.green, #all-the-content form input.green[type="submit"] {
  background-color: #1AA36E;
}
.menu>li {
  display: table-cell;
}
.menu>li {
  display: table-cell;
  vertical-align: middle;
}
.button, #all-the-content form input[type="submit"] {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .75px;
  -webkit-font-smoothing: initial;
}
.button, #all-the-content form input[type="submit"] {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 1000px;
  padding: 0.85em 1em;
  margin: 0 0 1rem 0;
  font-size: 1rem;
  background-color: #0078EF;
  color: #fff;
}
ul li, ol li {
  font-weight: 400;
  line-height: 1.4;
}