.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    padding: 25px;
}

/* Mobile version */

@media (max-width: 925px) {
    .page {
        padding: 5px;
    }
}

