* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    list-style: none;
    text-decoration: none;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.registration-content {
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 65%;
}

.registration-input input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.registration-title {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 14px;
}

.registration-btn_reg {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background-color .3s;
}

.registration-btn_reg:hover {
    background-color: #069906;
}