/*films slider*/
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__container {
    overflow: hidden;
    display: flex;
}

.slider__page {
    position: relative;
    display: flex;
    right: 0;
    transition: right .45s ease-in-out;
}

/* Next & previous buttons */
.slider__button {
    width: 42px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.slider__button svg {
    fill: cornflowerblue;
    transition: fill .3s, filter .3s;
}

.slider__button svg:hover {
    fill: dodgerblue;
    filter: drop-shadow(-2px 0 6px #00acff);
}

.slider__button:focus {
    outline-color: rgba(0, 0, 0, 0);
}

/* Mobile */

@media (max-width: 925px) {
    .slider__button {
        width: 30px;
        height: 55px;
    }
}
