/*films slider*/
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__container {
    overflow: hidden;
    display: flex;
}

.slider__page {
    position: relative;
    display: flex;
    right: 0;
    transition: right .45s ease-in-out;
}

/* Next & previous buttons */
.slider__button {
    width: 50px;
    height: 100px;
    margin-bottom: 100px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.slider__button:focus {
    outline-color: rgba(0, 0, 0, 0);
}

.slider__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Mobile */

@media (max-width: 925px) {
    .slider__button {
        width: 30px;
        height: 55px;
    }
}
