article{
    height: 80vh;
}

.main {
    margin: 50px;
}

.main-header {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 15px;

}

.row {
    padding: 15px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    border: 1px solid #e3e3e3
}

.exit-btn{
    height: 50px;
    width: 200px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: cadetblue;
    transition: background-color .3s;
}

.exit-btn:hover{
    background-color: deepskyblue;
}
