.validation-content {
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 65%;
}

.validation-input input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.validation-title {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 14px;
}

.validation-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background-color .3s, filter .3s;
}

.validation-btn:hover {
    background-color: #069906;
    filter: drop-shadow(0 0 4px #07a701);
}

.validation-btn:focus{
    outline: none;
}